.new-posts-body {
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom : 50px;
}

.image h6 {
  font-size: 4px;
}

.name-link {
   text-decoration: none;
   color: black ;
}