
.body{
  width: 1100px;
}

.top-image {
  background-image: url('../images/micaela-parente-YGgKE6aHaUw-unsplash.jpg');
  text-align: center;
  height: 800px;
  margin: 100px 0;
  background-size: cover;
}

.top-image h2 {
  color: white;
  padding-top: 200px;
}